<!DOCTYPE html>
<html>

    <head>
	
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/style.css" media="screen"/>
        <title> Saboteur </title>

    </head>
    
    <body>

        <header id="topbar">

                <div id="imagetopbar">
                    <a href="index.html"><img class="top" src="img/logo.png"/></a>
                </div>       
 
        </header>

        <div id="welcome">
            <h1> <%= message %> </h1>
            <h2> <%= error %> </h2>
        </div>

    </body>

</html>