<!DOCTYPE html>

<html>
    <head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/style.css"  media="screen"/>
		<title> Saboteur </title>
    </head>
    
    <body>
        <header id="topbar">
                <div id="imagetopbar" >
                    <a href="index.html"><img class="topbar" src="img/Logo.png"/></a>
                </div>
                <div id="texttopbar">
                    Disconnected!
                </div>	
        </header>

                <div id="welcomeText">
                    <div id="mainbuttons">
                        <button class="button" onclick="window.location.href='login.html'">Login</button>
                        <button class="button" onclick="window.location.href='signup.html'">SignUp</button>  
                    </div>
                </div>
    </body>
</html>
